@using Lazada.Models.Entities
@model List<Product>



@if (Model != null && Model.Any())
{
    <div class="row my-5 ">
        <h2>Laz Mall</h2>
        <div class="card-container d-flex">

            @foreach (var product in Model)
            {
                <div class="card col-lg-2 ">
                    <img class="card-img-top" src="" alt="Card image">
                    <div class="card-body">
                        <h5 class="card title border-0">@product.Name</h5>
                        <p class="hidden">Product ID: @product.Id</p>
                        <p>Price: @product.Price</p>
                        <p>Original Price: @product.OrPrice</p>
                        <form asp-action="ProductDetails" asp-controller="Home" method="get" enctype="multipart/form-data">
                            <input name="Id" type="hidden" value="@product.Id">
                            <button type="submit" class="btn btn-primary">Go somewhere</button>

                        </form>
                        <form asp-action="ProductDetails" asp-controller="Home" method="get" enctype="multipart/form-data">
                            <input name="Id" type="hidden" value="@product.Id">
                            <button type="submit" class="btn btn-primary">Add to cart</button>

                        </form>

                    </div>
                </div>
            }
        </div>
    </div>

}
else
{
    <p>No products available.</p>
}
<style>
    .img-card {
        max-height: 200px;
        object-fit: contain;
    }
</style>